<h1>Pirate Info</h1>
<h2>Pirate Name: <%= @pirate.name %></h2>
<h3>Pirate Weight: <%= @pirate.weight %></h3>
<h3>Pirate Height: <%= @pirate.height %></h3>

<h1>First Ship Info</h1>
<% @ships.each.with_index do |ship, index| %>
  <% if index == 0 %>
    <p>Ship Name: <%= ship.name %></p>
    <p>Ship Type: <%= ship.type %></p>
    <p>Ship Booty: <%= ship.booty %></p>
  <% end %>
<% end %>

<h1>Second Ship Info</h1>
<% @ships.each.with_index do |ship, index| %>
  <% if index == 1 %>
    <p>Ship Name: <%= ship.name %></p>
    <p>Ship Type: <%= ship.type %></p>
    <p>Ship Booty: <%= ship.booty %></p>
  <% end %>
<% end %>

