<h1>Pirate</h1>

<div class="pirate">
<h3>Name: <%= @pirate.name  %></h3>
<h4>Weight of Pirate: <%= @pirate.weight %></h4>
<h4>Height of Pirate: <%= @pirate.height %></h4>
</div>


<h2>Ships</h2>
<p><% @ships.each do |ship|  %></p>
<p>Name:<%= ship.name  %></p>
<p>Type:<%= ship.type  %></p>
<p>Booty:<%= ship.booty %></p>
<% end  %>
<br>

